@using RentSmart.Data
@model AddPropertyInputModel
@{
    ViewData["Title"] = "Add Property";
}

<form method="post" class="row mb-5" enctype="multipart/form-data">
    <fieldset class="col-md-5 offset-md-1">
        <legend>@ViewData["Title"]</legend>
        <div>Manager: @this.User.Identity.Name</div>
        <div>
            <label asp-for="Name" class="form-label mt-1"></label>
            <input asp-for="Name" class="form-control" placeholder="Title">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
         <div>
            <label asp-for="Description" class="form-label mt-4"></label>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Floor" class="form-label mt-4"></label>
            <input asp-for="Floor" class="form-control">
            <span asp-validation-for="Floor" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Size" class="form-label mt-4"></label>
            <input asp-for="Size" class="form-control">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="DistrictName" class="form-label mt-4"></label>
            <input asp-for="DistrictName" class="form-control">
            <span asp-validation-for="DistrictName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PricePerMonth" class="form-label mt-4"></label>
            <div class="input-group mb-3">
            <span class="input-group-text">€</span>
            <input asp-for="PricePerMonth" class="form-control">
            </div>
            <span asp-validation-for="PricePerMonth" class="text-danger"></span>  
        </div>
        </fieldset>

    <fieldset class="col-md-5">
        <div>
            <label asp-for="PropertyTypeId" class="form-label mt-4">Select Property Type</label>
            @await Component.InvokeAsync("PropertyTypeDropDown")
            <input type="hidden" asp-for="PropertyTypeId" />
        </div>
        <div>
            <label asp-for="CityId" class="form-label mt-4">City</label>
            <select asp-for="CityId" class="form-control">
                <option value="" disabled selected>Select....</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="OwnerId" class="form-label mt-4"></label>
            <select asp-for="OwnerId" class="form-control">
                <option value="" disabled selected>Select....</option>
                @foreach (var owner in Model.Owners)
                {
                    <option value="@owner.Id">@owner.UserEmail (@owner.UserFirstName @owner.UserLastName)</option>
                }
            </select>
            <span asp-validation-for="OwnerId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TagIds" class="form-label mt-4">Select Tags</label>
            <select name="TagIds" multiple class="form-control">
                @foreach (var tag in Model.Tags)
                {
                    <option value="@tag.Id">@tag.Name</option>
                }
            </select>
            <span asp-validation-for="TagIds" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Images" class="form-label mt-4"></label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>