@model CreatePropertyInputModel
@{
    ViewData["Title"] = "Add House";
}

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <fieldset>
        <legend>@ViewData["Title"]</legend>
        <div class="row">
            <label for="manager" class="col-sm-2 col-form-label">Manager</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="manager" value="@this.User.Identity.Name">
            </div>
        </div>
        <div>
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" class="form-control" placeholder="Title">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
         <div>
            <label asp-for="Description" class="form-label mt-4"></label>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Floor" class="form-label mt-4"></label>
            <input asp-for="Floor" class="form-control">
            <span asp-validation-for="Floor" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Size" class="form-label mt-4"></label>
            <input asp-for="Size" class="form-control">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div>
			<label asp-for="PropertyTypeId" class="form-label mt-4">Select Property Type</label>
			@await Component.InvokeAsync("PropertyTypeDropDown")
			<input type="hidden" asp-for="PropertyTypeId" />
        </div>
        <div>
            <label asp-for="DistrictName" class="form-label mt-4"></label>
            <input asp-for="DistrictName" class="form-control">
            <span asp-validation-for="DistrictName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CityId" class="form-label mt-4"></label>
            <select asp-for="CityId" class="form-control">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="OwnerId" class="form-label mt-4"></label>
            <select asp-for="OwnerId" class="form-control">
                @foreach (var owner in Model.Owners)
                {
                    <option value="@owner.Id">@owner.Name</option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
</form>