﻿@using RentSmart.Web.ViewModels.Properties.ViewModels
@model PropertiesViewModelWithPaging
@{
    ViewData["Title"] = "All Available Properties";
}
@await Component.InvokeAsync("GetCountsComponent")









<div class="container mt-4">
  <h3 class="text-center">@ViewData["Title"]</h3>
  <hr/>
  
  <div class="row g-3"> 
    @foreach (var property in this.Model.Properties)
    {
      <div class="col-md-6">
        <div class="card h-100" style="height: 200px;">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100" style="max-width: 200px;">
              <img src="@property.ImageUrl" onerror="this.onerror=null; this.src='/images/noimage.jpg';"  class="img-fluid rounded-start h-100" 
                   style="object-fit: cover; width: 100%;" alt="property-image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-house"></i> @property.PropertyTypeName</h5>
                <p class="card-title text-danger"><i class="fa-solid fa-heart"></i> @property.TotalLikes  Total Likes</p>
                <p class="card-title"><i class="fa-solid fa-location-dot"></i> @property.CityName, @property.DistrictName</p>
                <p class="card-title"><i class="fa-regular fa-money-bill-1"></i> Price: @property.Price per month</p>
                <p class="card-title"><i class="fa-solid fa-up-right-and-down-left-from-center"></i> @property.Size sq.m, @property.Floor floor</p>
                <p class="card-title text-danger"><i class="fa-solid fa-star"></i> Average Rating: @property.AverageRating</p>
                <a type="button" class="btn btn-primary btn-sm" asp-controller="Property" asp-action="Details" asp-route-id="@property.Id" >Go to Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<hr/>
<partial name="_PagingPartial" model ="@Model" />
