﻿@using RentSmart.Web.ViewModels.Properties.ViewModels
@model PropertiesViewModelWithPaging
@{
    ViewData["Title"] = "All Available Properties";
}
@await Component.InvokeAsync("GetCountsComponent")

<form method="get" class="container row p-4 my-4 border rounded border-primary">
   
    <fieldset>
        <div>
            <label asp-for="ItemsPerPage" class="form-label mt-4">Properties Per Page</label>
            <select asp-for="ItemsPerPage" >
                <option value="6">6</option>
                <option value="8" selected>8</option> 
                <option value="10">10</option>
            </select>
        </div>

        <div>
            <label asp-for="SearchString" class="form-label mt-4"></label>
            <input asp-for="SearchString" class="form-control">
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Sorting" class="form-label mt-4"></label>
            <select asp-for="Sorting" class="form-control" asp-items="Model.SortingOptions"></select>
            </select>
        </div>


    <div>
    <label asp-for="PropertyType" class="form-label mt-4">Property Type</label>
    <select asp-for="PropertyType" class="form-select">
        <option value="" disabled selected>Select....</option>
        @foreach (var propertyType in Model.PropertyTypes)
        {
            <option value="@propertyType">@propertyType</option>
        }
    </select>
    </div>

        <div>
            <label asp-for="Districts" class="form-label mt-4">Select Districts</label>
            <select name="Districts" multiple class="form-control">
                @foreach (var district in Model.DistrictsAll)
                {
                    <option value="@district">@district</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="Tags" class="form-label mt-4">Select Tags</label>
            <select name="Tags" multiple class="form-control">
                @foreach (var tag in Model.AllTags)
                {
                    <option value="@tag">@tag</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="PricePerMonth" class="form-label mt-4"></label>
            <div class="input-group mb-3">
                <span class="input-group-text">€</span>
                <input asp-for="PricePerMonth" class="form-control">
                <span asp-validation-for="PricePerMonth" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </fieldset>

</form>







<div class="container mt-4">
  <h3 class="text-center">@ViewData["Title"]</h3>
  <hr/>
  
  <div class="row g-3"> 
    @foreach (var property in this.Model.Properties)
    {
      <div class="col-md-6">
        <div class="card h-100" style="height: 200px;">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100" style="max-width: 200px;">
              <img src="@property.ImageUrl" onerror="this.onerror=null; this.src='/images/noimage.jpg';"  class="img-fluid rounded-start h-100" 
                   style="object-fit: cover; width: 100%;" alt="property-image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-house"></i> @property.PropertyTypeName</h5>
                <p class="card-title text-danger"><i class="fa-solid fa-heart"></i> @property.TotalLikes  Total Likes</p>
                <p class="card-title"><i class="fa-solid fa-location-dot"></i> @property.CityName, @property.DistrictName</p>
                <p class="card-title"><i class="fa-regular fa-money-bill-1"></i> Price: @property.Price per month</p>
                <p class="card-title"><i class="fa-solid fa-up-right-and-down-left-from-center"></i> @property.Size sq.m, @property.Floor floor</p>
                <p class="card-title text-danger"><i class="fa-solid fa-star"></i> Average Rating: @property.AverageRating</p>
                <a type="button" class="btn btn-primary btn-sm" asp-controller="Property" asp-action="Details" asp-route-id="@property.Id" >Go to Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<hr/>
<partial name="_PagingPartial" model ="@Model" />
