@using RentSmart.Web.ViewModels.Properties.ViewModels
@model IEnumerable<PropertyInListViewModel>
@{
    ViewData["Title"] = "All Properties";
}
@await Component.InvokeAsync("GetCountsComponent")

<div class="container mt-4">
  <h3 class="text-center">@ViewData["Title"]</h3>
  <div class="row g-3"> 
    @foreach (var property in this.Model)
    {
      <div class="col-md-6">
        <div class="card h-100" style="height: 200px;">
          <div class="row g-0 h-100">
            <div class="col-md-4 h-100" style="max-width: 200px;">
              <img src="@property.ImageUrl" class="img-fluid rounded-start h-100" style="object-fit: cover; width: 100%;" alt="property image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">@property.PropertyTypeName</h5>
                <h5 class="card-title">@property.CityName, @property.DistrictName</h5>
                <p class="card-title">Price: @property.Price per month</p>
                <p class="card-title">@property.Size sq.m, @property.Floor floor</p>
                <p class="card-title">Average Rating: @property.AverageRating  </p>
              </div>
            </div>
          </div>
    }
        </div>
      </div>
  </div>
</div>

<hr/>
<nav class="container mb-5">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


