@model RentSmart.Data.Models.PropertyType﻿

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5 col-md-6">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h1 class="h4 mb-0">Details</h1>
        </div>
        <div class="card-body">
            <h4 class="text-muted">Property Type</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4 font-weight-bold text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4 font-weight-bold text-primary">
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>
                <dt class="col-sm-4 font-weight-bold text-primary">
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DeletedOn)
                </dd>
                <dt class="col-sm-4 font-weight-bold text-primary">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>
                <dt class="col-sm-4 font-weight-bold text-primary">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>
