@using RentSmart.Web.ViewModels.RentContract
@model MakeRentInputModel
@{
    ViewData["Title"] = "Make a Rent";
}


<h3 class="text-center">@ViewData["Title"]</h3>

<div class="container mt-4 col-md-8 offset-md-2">
    <form method="post">
        <div class="row mb-3">
            <hr />
            <div class="col-md-4">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" value="@Model.PropertyTypeName" readonly />
                <input type="hidden" name="PropertyTypeName" value="@Model.PropertyTypeName" />
            </div>
            <div class="col-md-4">
                <label class="form-label">District</label>
                <input type="text" class="form-control" value="@Model.DistrictName" readonly />
                <input type="hidden" name="DistrictName" value="@Model.DistrictName" />
            </div>
            <div class="col-md-4">
                <label class="form-label">City</label>
                <input type="text" class="form-control" value="@Model.CityName" readonly />
                <input type="hidden" name="CityName" value="@Model.CityName" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Size (sq.m)</label>
                <input type="text" class="form-control" value="@Model.Size" readonly />
                <input type="hidden" name="Size" value="@Model.Size" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Floor</label>
                <input type="text" class="form-control" value="@Model.Floor" readonly />
                <input type="hidden" name="Floor" value="@Model.Floor" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" value="@Model.Price" readonly />
                <input type="hidden" name="Price" value="@Model.Price" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 offset-md-2">
                <label class="form-label">Manager</label>
                <input type="text" class="form-control" value="@Model.ManagerName" readonly />
                <input type="hidden" name="ManagerName" value="@Model.ManagerName" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Owner</label>
                <input type="text" class="form-control" value="@Model.OwnerName" readonly />
                <input type="hidden" name="OwnerName" value="@Model.OwnerName" />
            </div>
        </div>
        <hr/>
        <div class="row mb-3">
            <div class="col-md-4 text-warning">
                <label asp-for="UserId" class="form-label"></label>
                <select asp-for="UserId" class="form-control">
                    <option value="" disabled selected>Select....</option>
                    @foreach (var renter in Model.FutureRenters)
                    {
                        <option value="@renter.Id">@renter.Email (@renter.FirstName @renter.LastName)</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-md-4 text-warning">
                <label asp-for="RentDate" class="form-label"></label>
                <input type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")"  value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" asp-for ="RentDate" class="form-control" />
                <span asp-validation-for="RentDate" class="text-danger"></span>
            </div>
            <div class="col-md-4 text-warning">
                <label asp-for="DurationInMonths" class="form-label"></label>
                <input asp-for="DurationInMonths" class="form-control" />
                <span asp-validation-for="DurationInMonths" class="text-danger"></span>
        </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
